*{
    /* border: solid 1px green; */
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* position: relative; */
    background: rgb(219, 196, 229);
}

.left-bar {
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 20%;
    min-width: 200px;
    background-color: rgb(155, 99, 208);
    position: absolute;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main-top{
    background-color: rgb(187, 131, 187);
}

.top-title{
    font-size:50px;
    font-variant: small-caps;
    font-stretch: expanded;
    padding: 0;
    padding-bottom: 80px;
    margin-top: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

header{
    margin-left: 200px;
    width: 80%;
    margin: none;
    border: none;
    /* padding-left: 200px; */
    padding-top: 30px;
    text-align: center;
}

.bubba-face {
    object-fit: contain;
    padding: 10px;
    padding-bottom: 20px;
    max-height:250px;
    width: auto;
    height: auto;
} 

.top-left-title-bubba {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-text-stroke-width: 0.03em;
    /* -webkit-text-stroke-color: rgb(234, 212, 234); */
    top: 0.3em;
}

ul {
    padding-left: 15px;
    margin: 30px
}

hr {
    border: none;
    border-top: 4px double black;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: rgb(155, 99, 208);
    content: '🖤';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.side-list {
    display: flex;
    flex-direction: column;
}

.fa{
    padding: 5px;
}

.fa:hover{
    color:rgb(69, 13, 142);
    cursor: pointer;
}

.list-titles{
    text-align: center;
    padding-bottom: 15px;
    font-size: larger;
}


.boop-that-snoot{
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 30%; */
    margin-bottom: 0;
 
}

.boop{
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
}

  .boop:hover { 
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
   
  }
 




.bubba-goofin{
    padding-left: 200px;
    max-width: 50vh;

}

nav{
    background-color: rgb(219, 196, 229);
    /* padding-left: 20%; */
    margin-left: 30%;
    margin-right: 10%;
    
}

/* ~~~~ grid attempt 1 */

.bubba-grid{
    display: grid;
    margin-left: 30%;
    margin-right: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    grid-gap: 1px;

    background-color: aquamarine;
    border-top: solid 5px rgb(99, 17, 137);
    border-left: solid 5px rgb(99, 17, 137);
    border-right: solid 5px rgb(99, 17, 137);
    overflow: hidden;
    
}



.grid2{
    display: grid;
    margin-left: 30%;
    margin-right: 10%;
    grid-template-columns:150px 150px 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    /* grid-template-rows: repeat(5,1fr); */
    background-color: aquamarine;
    grid-gap: 30px;
    border: solid 5px rgb(99, 17, 137);
    overflow:hidden;

}



.bubba-goof{
    object-fit: contain;
    width: 100%;
    position: relative;
}

/* .break{
    display: flex;
    position: relative;
} */


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 6; }
    .div2 { grid-area: 3 / 1 / 5 / 3; }
    .div3 { grid-area: 3 / 3 / 5 / 5; }
    .div4 { grid-area: 3 / 5 / 5 / 6; }


