*{
    /* border: solid 1px green; */
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    background-color: blueviolet;
   
}

.top-title{
    padding: 0;
    margin-top: 0;
}

/* header{
    position: relative;
    padding-left: 200px;
    margin: none;
    border: none;
    display: flex;
} */

.bubba-face {
    display: block;
    object-fit: contain;
    padding: 10px;
    padding-bottom: 20px;
    max-height:250px;
    width: auto;
    height: auto;
} 

.top-left-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul {
    padding-left: 15px;
    margin: 30px
}

/* hr{
    height: 1px;
    width: 200px;
    color: black;
    text-align: center;
    overflow: visible;
} */

hr {
    border: none;
    border-top: 4px double black;
    overflow: visible;
    text-align: center;
    height: 5px;
    
}

hr:after {
    background: blueviolet;
    content: '🖤';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.side-list {
    display: flex;
    flex-direction: column;
}

.fa{
    padding: 5px;
}

.fa:hover{
    color:blue
}

.list-titles{
    text-align: center;
    padding-bottom: 15px;
}
